{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error.replace('This field', 'Username') }}]</span>
            {% endfor %}


            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error.replace('This field', 'Password') }}]</span>
            {% endfor %}

        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        {{ form.submit() }}
    </form>
{% endblock %}